:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(250, 174, 174, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}




.form{
  display: flex; 
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 8px;
  
}

.input-area {
  width: 250px;
  height: 35px;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 14px;
  outline: none;
  border: none;
}

.input-area::placeholder {
  color:rgb(138, 62, 62);
} 

.input-area:hover,
.input-area:focus {
  background-color: rgb(253, 242, 246); 
}

button{
  display: flex;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  align-items: center;
  text-align: center;
  justify-content:center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 35px;
  border: none;
  background-color:rgb(255, 143, 161);
  }

  
 button:hover {
  background-color: rgb(252, 120, 149);
 }


.submit-button{
  width: 70px;
}
  

.load-more-button{
  width: 100px;
  margin: auto;
}

.load-more-button.is-hidden {
  display: none;
}

ul {
  list-style-type: none;
}



.gallery {
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.image-container {
  position: relative;
  box-sizing: content-box;
  border-radius: 1%;
}

.image-container:hover {
transform: scale(1.02);
}

.gallery-image{
  width: 360px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.7s ease;
  
}

.overlay {
  width: 360px;
  height: 48px;
  background-color: rgb(250, 231, 239);
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(138, 62, 62);
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 30px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.04em;
  font-weight: 600;
  font-size: 12px;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(253, 225, 232, 0.8);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  display: none;
}


/* для loading */
.loader {
  --c:#f86ba1;
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  color: #f59a9a00;
  overflow: hidden;
  text-shadow: 0 0 var(--c),11ch 0 var(--c);
  animation: l6 2s infinite linear;
}
.loader:before {
  content:"Loading..."
}
@keyframes l6 {to{text-shadow:-11ch 0 var(--c),0ch 0 var(--c)}}



